body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: #111;
}

* {
    box-sizing: border-box;
}

h1, h3 {
    font-weight: 400;
}

.weather-app {
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time, .temp, .weather {
    margin: 0 1em;
}

.city-time h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp {
    font-size: 5em;
    margin: 0;
}

.weather img {
    display: block;
    margin: 0 auto;
}

.weather {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.weather span {
    font-size: 1.5em;
}

.panel {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 1.5em;
    margin-bottom: 1.5em;
}

.panel form {
    display: flex;
    justify-content: space-between;
}

.panel form input {
    flex: 1;
    font-size: 1.2em;
    padding: 0.8em;
    border: none;
    outline: none;
    border-radius: 15px;
}

.panel form button {
    background: #e5ba92;
    padding: 0.8em;
    border: none;
    outline: none;
    border-radius: 15px;
    margin-left: 1em;
    cursor: pointer;
    transition: 300ms;
}

.panel form button:hover {
    background: #d18f6c;
}

.panel ul {
    list-style: none;
    padding: 0;
    margin: 2em 0 0;
}

.panel ul h4 {
    margin: 0;
    margin-bottom: 0.5em;
}

.panel ul li {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
